{{/* ABOUTME: Home masthead — the All-Night Pavilion "Threshold" hero (FJ#4). */}}
{{/* ABOUTME: Starfield is a generated placeholder; the real Founding Sky lands in Increment 4. */}}
<header class="masthead masthead--hero">
  <div class="masthead-sky drift" aria-hidden="true">
      <span class="star" style="left:38.52%;top:40.43%;width:2.41px;height:2.41px;opacity:0.71"></span>
      <span class="star" style="left:28.16%;top:14.44%;width:2.55px;height:2.55px;opacity:0.75"></span>
      <span class="star tw" style="left:26.90%;top:50.98%;width:2.21px;height:2.21px;opacity:0.64;--o:0.64;--d:2.77s"></span>
      <span class="star tw" style="left:53.62%;top:0.39%;width:2.32px;height:2.32px;opacity:0.68;--o:0.68;--d:4.98s"></span>
      <span class="star tw" style="left:56.93%;top:1.31%;width:2.13px;height:2.13px;opacity:0.61;--o:0.61;--d:2.76s"></span>
      <span class="star tw" style="left:96.43%;top:1.89%;width:2.41px;height:2.41px;opacity:0.71;--o:0.71;--d:4.88s"></span>
      <span class="star tw" style="left:82.72%;top:51.41%;width:1.68px;height:1.68px;opacity:0.47;--o:0.47;--d:0.42s"></span>
      <span class="star tw" style="left:13.30%;top:3.69%;width:1.71px;height:1.71px;opacity:0.48;--o:0.48;--d:3.19s"></span>
      <span class="star bright" style="left:74.46%;top:36.17%;width:2.89px;height:2.89px;opacity:0.87"></span>
      <span class="star" style="left:13.61%;top:36.24%;width:2.43px;height:2.43px;opacity:0.71"></span>
      <span class="star bright" style="left:30.72%;top:62.85%;width:2.73px;height:2.73px;opacity:0.81"></span>
      <span class="star tw" style="left:38.68%;top:71.13%;width:1.65px;height:1.65px;opacity:0.46;--o:0.46;--d:2.88s"></span>
      <span class="star" style="left:99.33%;top:68.33%;width:2.07px;height:2.07px;opacity:0.59"></span>
      <span class="star tw" style="left:22.31%;top:68.36%;width:2.15px;height:2.15px;opacity:0.62;--o:0.62;--d:0.85s"></span>
      <span class="star" style="left:77.00%;top:3.25%;width:2.61px;height:2.61px;opacity:0.77"></span>
      <span class="star tw" style="left:89.22%;top:16.13%;width:2.13px;height:2.13px;opacity:0.61;--o:0.61;--d:2.03s"></span>
      <span class="star tw" style="left:13.48%;top:33.25%;width:2.44px;height:2.44px;opacity:0.72;--o:0.72;--d:3.25s"></span>
      <span class="star tw" style="left:42.44%;top:50.61%;width:0.95px;height:0.95px;opacity:0.23;--o:0.23;--d:2.91s"></span>
      <span class="star tw" style="left:80.25%;top:62.86%;width:2.62px;height:2.62px;opacity:0.78;--o:0.78;--d:3.34s"></span>
      <span class="star bright" style="left:71.81%;top:46.74%;width:2.84px;height:2.84px;opacity:0.85"></span>
      <span class="star" style="left:62.53%;top:26.34%;width:0.83px;height:0.83px;opacity:0.19"></span>
      <span class="star" style="left:0.92%;top:41.35%;width:1.70px;height:1.70px;opacity:0.48"></span>
      <span class="star tw" style="left:0.87%;top:70.72%;width:2.34px;height:2.34px;opacity:0.69;--o:0.69;--d:2.89s"></span>
      <span class="star bright" style="left:43.04%;top:78.58%;width:2.76px;height:2.76px;opacity:0.82"></span>
      <span class="star tw" style="left:68.00%;top:70.06%;width:2.00px;height:2.00px;opacity:0.57;--o:0.57;--d:0.48s"></span>
      <span class="star tw" style="left:48.21%;top:16.88%;width:1.35px;height:1.35px;opacity:0.36;--o:0.36;--d:0.11s"></span>
      <span class="star" style="left:88.73%;top:8.90%;width:1.02px;height:1.02px;opacity:0.25"></span>
      <span class="star" style="left:21.24%;top:2.72%;width:1.10px;height:1.10px;opacity:0.28"></span>
      <span class="star bright" style="left:92.26%;top:9.14%;width:2.98px;height:2.98px;opacity:0.89"></span>
      <span class="star tw" style="left:16.56%;top:70.59%;width:2.66px;height:2.66px;opacity:0.79;--o:0.79;--d:3.06s"></span>
      <span class="star tw" style="left:89.29%;top:25.72%;width:1.77px;height:1.77px;opacity:0.50;--o:0.50;--d:0.16s"></span>
      <span class="star" style="left:64.01%;top:28.11%;width:1.86px;height:1.86px;opacity:0.53"></span>
      <span class="star bright tw" style="left:87.57%;top:3.95%;width:2.74px;height:2.74px;opacity:0.81;--o:0.81;--d:3.29s"></span>
      <span class="star" style="left:45.73%;top:3.32%;width:1.71px;height:1.71px;opacity:0.48"></span>
      <span class="star tw" style="left:10.75%;top:46.27%;width:2.41px;height:2.41px;opacity:0.71;--o:0.71;--d:2.64s"></span>
      <span class="star" style="left:71.78%;top:66.64%;width:1.07px;height:1.07px;opacity:0.27"></span>
      <span class="star" style="left:84.79%;top:11.30%;width:1.72px;height:1.72px;opacity:0.48"></span>
      <span class="star tw" style="left:80.99%;top:73.56%;width:0.84px;height:0.84px;opacity:0.19;--o:0.19;--d:4.26s"></span>
      <span class="star" style="left:94.85%;top:22.32%;width:1.31px;height:1.31px;opacity:0.35"></span>
      <span class="star" style="left:59.59%;top:39.04%;width:1.09px;height:1.09px;opacity:0.27"></span>
      <span class="star" style="left:28.52%;top:42.28%;width:1.30px;height:1.30px;opacity:0.34"></span>
      <span class="star bright tw" style="left:1.23%;top:49.86%;width:2.75px;height:2.75px;opacity:0.82;--o:0.82;--d:0.82s"></span>
      <span class="star" style="left:68.82%;top:53.93%;width:2.53px;height:2.53px;opacity:0.75"></span>
      <span class="star" style="left:14.24%;top:23.60%;width:1.23px;height:1.23px;opacity:0.32"></span>
      <span class="star bright" style="left:38.46%;top:25.11%;width:2.84px;height:2.84px;opacity:0.85"></span>
      <span class="star" style="left:49.48%;top:53.16%;width:2.19px;height:2.19px;opacity:0.64"></span>
      <span class="star" style="left:53.26%;top:42.34%;width:1.02px;height:1.02px;opacity:0.25"></span>
      <span class="star" style="left:81.87%;top:23.21%;width:1.30px;height:1.30px;opacity:0.34"></span>
      <span class="star tw" style="left:90.70%;top:64.40%;width:2.04px;height:2.04px;opacity:0.59;--o:0.59;--d:2.85s"></span>
      <span class="star" style="left:28.25%;top:44.26%;width:1.39px;height:1.39px;opacity:0.37"></span>
      <span class="star" style="left:87.97%;top:48.06%;width:1.15px;height:1.15px;opacity:0.30"></span>
      <span class="star tw" style="left:85.45%;top:46.64%;width:0.99px;height:0.99px;opacity:0.24;--o:0.24;--d:4.46s"></span>
      <span class="star tw" style="left:81.52%;top:33.36%;width:1.41px;height:1.41px;opacity:0.38;--o:0.38;--d:1.23s"></span>
      <span class="star" style="left:15.33%;top:29.08%;width:2.20px;height:2.20px;opacity:0.64"></span>
      <span class="star tw" style="left:51.85%;top:70.73%;width:2.16px;height:2.16px;opacity:0.62;--o:0.62;--d:1.47s"></span>
      <span class="star tw" style="left:19.94%;top:52.73%;width:1.54px;height:1.54px;opacity:0.42;--o:0.42;--d:3.51s"></span>
      <span class="star bright" style="left:68.78%;top:38.47%;width:2.77px;height:2.77px;opacity:0.83"></span>
      <span class="star tw" style="left:96.77%;top:29.46%;width:1.39px;height:1.39px;opacity:0.37;--o:0.37;--d:1.84s"></span>
      <span class="star" style="left:54.97%;top:70.96%;width:2.61px;height:2.61px;opacity:0.77"></span>
      <span class="star" style="left:45.78%;top:71.89%;width:1.91px;height:1.91px;opacity:0.54"></span>
      <span class="star bright" style="left:96.01%;top:59.33%;width:2.90px;height:2.90px;opacity:0.87"></span>
      <span class="star tw" style="left:88.16%;top:34.81%;width:2.49px;height:2.49px;opacity:0.73;--o:0.73;--d:1.05s"></span>
      <span class="star" style="left:65.65%;top:18.37%;width:1.88px;height:1.88px;opacity:0.53"></span>
      <span class="star tw" style="left:15.15%;top:53.23%;width:1.34px;height:1.34px;opacity:0.36;--o:0.36;--d:3.09s"></span>
      <span class="star" style="left:36.43%;top:42.15%;width:1.58px;height:1.58px;opacity:0.43"></span>
      <span class="star" style="left:14.37%;top:18.14%;width:1.61px;height:1.61px;opacity:0.45"></span>
      <span class="star tw" style="left:26.08%;top:5.42%;width:2.11px;height:2.11px;opacity:0.61;--o:0.61;--d:3.28s"></span>
      <span class="star bright tw" style="left:10.01%;top:34.45%;width:2.78px;height:2.78px;opacity:0.83;--o:0.83;--d:2.61s"></span>
      <span class="star" style="left:19.32%;top:51.85%;width:0.83px;height:0.83px;opacity:0.19"></span>
      <span class="star bright" style="left:14.03%;top:3.83%;width:2.92px;height:2.92px;opacity:0.87"></span>
      <span class="star tw" style="left:70.68%;top:59.82%;width:2.35px;height:2.35px;opacity:0.69;--o:0.69;--d:1.36s"></span>
      <span class="star tw" style="left:8.32%;top:32.06%;width:0.97px;height:0.97px;opacity:0.24;--o:0.24;--d:0.45s"></span>
      <span class="star" style="left:31.47%;top:9.96%;width:1.02px;height:1.02px;opacity:0.25"></span>
      <span class="star tw" style="left:22.86%;top:36.33%;width:1.19px;height:1.19px;opacity:0.31;--o:0.31;--d:2.96s"></span>
      <span class="star tw" style="left:5.16%;top:0.49%;width:2.69px;height:2.69px;opacity:0.80;--o:0.80;--d:4.52s"></span>
      <span class="star tw" style="left:10.92%;top:68.04%;width:2.53px;height:2.53px;opacity:0.75;--o:0.75;--d:4.37s"></span>
      <span class="star bright" style="left:23.34%;top:13.79%;width:2.79px;height:2.79px;opacity:0.83"></span>
      <span class="star" style="left:14.86%;top:4.33%;width:2.33px;height:2.33px;opacity:0.68"></span>
      <span class="star tw" style="left:60.69%;top:46.69%;width:0.95px;height:0.95px;opacity:0.23;--o:0.23;--d:1.36s"></span>
      <span class="star tw" style="left:7.80%;top:3.01%;width:1.36px;height:1.36px;opacity:0.36;--o:0.36;--d:3.19s"></span>
      <span class="star" style="left:7.73%;top:12.13%;width:0.99px;height:0.99px;opacity:0.24"></span>
      <span class="star" style="left:73.73%;top:25.68%;width:1.24px;height:1.24px;opacity:0.32"></span>
      <span class="star" style="left:36.33%;top:33.52%;width:1.13px;height:1.13px;opacity:0.29"></span>
      <span class="star" style="left:38.95%;top:0.91%;width:1.53px;height:1.53px;opacity:0.42"></span>
      <span class="star tw" style="left:4.43%;top:10.90%;width:1.07px;height:1.07px;opacity:0.27;--o:0.27;--d:3.12s"></span>
      <span class="star bright" style="left:27.30%;top:26.49%;width:2.74px;height:2.74px;opacity:0.82"></span>
      <span class="star tw" style="left:48.65%;top:72.23%;width:2.60px;height:2.60px;opacity:0.77;--o:0.77;--d:3.10s"></span>
      <span class="star" style="left:30.36%;top:19.63%;width:2.27px;height:2.27px;opacity:0.66"></span>
      <span class="star tw" style="left:76.33%;top:70.33%;width:0.98px;height:0.98px;opacity:0.24;--o:0.24;--d:4.04s"></span>
      <span class="star" style="left:91.54%;top:0.59%;width:1.89px;height:1.89px;opacity:0.54"></span>
      <span class="star" style="left:32.67%;top:76.51%;width:2.51px;height:2.51px;opacity:0.74"></span>
      <span class="star" style="left:9.15%;top:4.01%;width:1.40px;height:1.40px;opacity:0.38"></span>
      <span class="star" style="left:53.29%;top:12.02%;width:1.64px;height:1.64px;opacity:0.46"></span>
      <span class="star bright tw" style="left:71.84%;top:23.08%;width:2.96px;height:2.96px;opacity:0.89;--o:0.89;--d:2.81s"></span>
      <span class="star" style="left:82.30%;top:30.46%;width:1.04px;height:1.04px;opacity:0.26"></span>
      <span class="star bright" style="left:46.49%;top:15.82%;width:2.87px;height:2.87px;opacity:0.86"></span>
      <span class="star bright" style="left:45.35%;top:42.64%;width:2.76px;height:2.76px;opacity:0.82"></span>
      <span class="star tw" style="left:85.12%;top:78.90%;width:2.17px;height:2.17px;opacity:0.63;--o:0.63;--d:2.79s"></span>
      <span class="star tw" style="left:69.23%;top:2.80%;width:0.85px;height:0.85px;opacity:0.20;--o:0.20;--d:4.67s"></span>
      <span class="star tw" style="left:28.09%;top:78.45%;width:1.39px;height:1.39px;opacity:0.37;--o:0.37;--d:4.03s"></span>
      <span class="star" style="left:62.62%;top:6.03%;width:1.01px;height:1.01px;opacity:0.25"></span>
      <span class="star" style="left:38.01%;top:60.46%;width:1.31px;height:1.31px;opacity:0.35"></span>
      <span class="star" style="left:74.47%;top:81.28%;width:1.88px;height:1.88px;opacity:0.53"></span>
      <span class="star tw" style="left:83.37%;top:13.02%;width:2.27px;height:2.27px;opacity:0.66;--o:0.66;--d:1.90s"></span>
      <span class="star" style="left:41.96%;top:30.61%;width:1.92px;height:1.92px;opacity:0.55"></span>
      <span class="star bright" style="left:69.41%;top:67.36%;width:2.88px;height:2.88px;opacity:0.86"></span>
      <span class="star bright" style="left:87.59%;top:53.11%;width:2.88px;height:2.88px;opacity:0.86"></span>
      <span class="star tw" style="left:85.81%;top:30.86%;width:1.97px;height:1.97px;opacity:0.56;--o:0.56;--d:3.23s"></span>
      <span class="star" style="left:47.40%;top:55.14%;width:2.21px;height:2.21px;opacity:0.64"></span>
      <span class="star" style="left:74.63%;top:64.02%;width:1.14px;height:1.14px;opacity:0.29"></span>
      <span class="star tw" style="left:42.87%;top:20.47%;width:2.30px;height:2.30px;opacity:0.67;--o:0.67;--d:4.56s"></span>
      <span class="star" style="left:22.55%;top:37.68%;width:2.36px;height:2.36px;opacity:0.69"></span>
      <span class="star tw" style="left:35.89%;top:12.03%;width:2.12px;height:2.12px;opacity:0.61;--o:0.61;--d:1.38s"></span>
      <span class="star" style="left:2.18%;top:72.74%;width:1.17px;height:1.17px;opacity:0.30"></span>
      <span class="star tw" style="left:12.29%;top:50.07%;width:1.00px;height:1.00px;opacity:0.25;--o:0.25;--d:4.45s"></span>
      <span class="star" style="left:99.05%;top:9.02%;width:2.01px;height:2.01px;opacity:0.58"></span>
      <span class="star tw" style="left:78.71%;top:20.43%;width:1.53px;height:1.53px;opacity:0.42;--o:0.42;--d:1.14s"></span>
      <span class="star" style="left:27.79%;top:0.25%;width:2.69px;height:2.69px;opacity:0.80"></span>
      <span class="star" style="left:53.74%;top:1.49%;width:2.64px;height:2.64px;opacity:0.78"></span>
      <span class="star tw" style="left:39.61%;top:79.13%;width:2.23px;height:2.23px;opacity:0.65;--o:0.65;--d:3.77s"></span>
      <span class="star" style="left:74.98%;top:47.86%;width:0.75px;height:0.75px;opacity:0.20"></span>
      <span class="star" style="left:78.38%;top:51.52%;width:1.13px;height:1.13px;opacity:0.13"></span>
      <span class="star" style="left:54.67%;top:29.89%;width:0.73px;height:0.73px;opacity:0.33"></span>
      <span class="star" style="left:22.18%;top:17.38%;width:0.87px;height:0.87px;opacity:0.33"></span>
      <span class="star" style="left:8.03%;top:7.77%;width:0.74px;height:0.74px;opacity:0.30"></span>
      <span class="star" style="left:53.87%;top:30.26%;width:1.20px;height:1.20px;opacity:0.14"></span>
      <span class="star" style="left:5.79%;top:13.46%;width:1.52px;height:1.52px;opacity:0.32"></span>
      <span class="star" style="left:7.80%;top:12.47%;width:1.46px;height:1.46px;opacity:0.35"></span>
      <span class="star" style="left:60.79%;top:39.03%;width:1.49px;height:1.49px;opacity:0.11"></span>
      <span class="star" style="left:36.56%;top:19.78%;width:1.33px;height:1.33px;opacity:0.30"></span>
      <span class="star" style="left:48.63%;top:35.01%;width:1.57px;height:1.57px;opacity:0.30"></span>
      <span class="star" style="left:12.77%;top:9.01%;width:0.62px;height:0.62px;opacity:0.15"></span>
      <span class="star" style="left:45.09%;top:35.19%;width:1.10px;height:1.10px;opacity:0.29"></span>
      <span class="star" style="left:37.46%;top:19.85%;width:1.50px;height:1.50px;opacity:0.35"></span>
      <span class="star" style="left:46.35%;top:32.64%;width:0.79px;height:0.79px;opacity:0.14"></span>
      <span class="star" style="left:49.01%;top:32.21%;width:1.05px;height:1.05px;opacity:0.31"></span>
      <span class="star" style="left:93.88%;top:53.42%;width:0.70px;height:0.70px;opacity:0.34"></span>
      <span class="star" style="left:38.41%;top:31.88%;width:0.67px;height:0.67px;opacity:0.19"></span>
      <span class="star" style="left:28.49%;top:25.04%;width:0.88px;height:0.88px;opacity:0.26"></span>
      <span class="star" style="left:64.32%;top:39.71%;width:0.99px;height:0.99px;opacity:0.18"></span>
      <span class="star" style="left:3.67%;top:3.23%;width:1.42px;height:1.42px;opacity:0.22"></span>
      <span class="star" style="left:41.61%;top:28.02%;width:1.01px;height:1.01px;opacity:0.27"></span>
      <span class="star" style="left:4.25%;top:5.88%;width:1.03px;height:1.03px;opacity:0.18"></span>
      <span class="star" style="left:24.97%;top:23.58%;width:1.29px;height:1.29px;opacity:0.18"></span>
      <span class="star" style="left:62.13%;top:33.93%;width:1.26px;height:1.26px;opacity:0.30"></span>
      <span class="star" style="left:22.04%;top:23.64%;width:1.04px;height:1.04px;opacity:0.20"></span>
      <span class="star" style="left:92.06%;top:55.26%;width:1.19px;height:1.19px;opacity:0.19"></span>
      <span class="star" style="left:86.19%;top:54.09%;width:0.74px;height:0.74px;opacity:0.30"></span>
      <span class="star" style="left:50.80%;top:36.90%;width:0.65px;height:0.65px;opacity:0.15"></span>
      <span class="star" style="left:31.83%;top:20.36%;width:1.44px;height:1.44px;opacity:0.31"></span>
      <span class="star" style="left:75.13%;top:42.83%;width:1.53px;height:1.53px;opacity:0.28"></span>
      <span class="star" style="left:70.65%;top:44.32%;width:1.54px;height:1.54px;opacity:0.32"></span>
      <span class="star" style="left:46.47%;top:31.64%;width:1.49px;height:1.49px;opacity:0.35"></span>
      <span class="star" style="left:44.79%;top:33.81%;width:1.30px;height:1.30px;opacity:0.12"></span>
      <span class="star" style="left:83.01%;top:49.73%;width:1.06px;height:1.06px;opacity:0.26"></span>
      <span class="star" style="left:81.87%;top:43.89%;width:1.16px;height:1.16px;opacity:0.18"></span>
      <span class="star" style="left:57.99%;top:31.56%;width:1.45px;height:1.45px;opacity:0.20"></span>
      <span class="star" style="left:18.89%;top:17.84%;width:1.22px;height:1.22px;opacity:0.36"></span>
      <span class="star" style="left:99.46%;top:49.85%;width:1.50px;height:1.50px;opacity:0.14"></span>
      <span class="star" style="left:1.73%;top:7.83%;width:1.40px;height:1.40px;opacity:0.22"></span>
      <span class="star" style="left:60.95%;top:39.65%;width:0.91px;height:0.91px;opacity:0.33"></span>
      <span class="star" style="left:27.14%;top:17.03%;width:1.42px;height:1.42px;opacity:0.31"></span>
      <span class="star" style="left:5.56%;top:9.15%;width:1.02px;height:1.02px;opacity:0.33"></span>
      <span class="star" style="left:88.88%;top:51.45%;width:0.81px;height:0.81px;opacity:0.22"></span>
      <span class="star" style="left:91.96%;top:56.20%;width:1.58px;height:1.58px;opacity:0.11"></span>
      <span class="star" style="left:12.02%;top:10.07%;width:1.08px;height:1.08px;opacity:0.31"></span>
      <span class="star" style="left:89.11%;top:52.69%;width:1.18px;height:1.18px;opacity:0.28"></span>
      <span class="star" style="left:10.65%;top:10.87%;width:0.83px;height:0.83px;opacity:0.23"></span>
      <span class="star" style="left:12.27%;top:12.98%;width:0.80px;height:0.80px;opacity:0.24"></span>
      <span class="star" style="left:10.42%;top:16.87%;width:1.43px;height:1.43px;opacity:0.21"></span>
      <span class="star" style="left:82.33%;top:43.15%;width:1.34px;height:1.34px;opacity:0.13"></span>
      <span class="star" style="left:46.73%;top:31.65%;width:1.19px;height:1.19px;opacity:0.26"></span>
      <span class="star" style="left:73.18%;top:42.47%;width:1.41px;height:1.41px;opacity:0.21"></span>
      <span class="star" style="left:40.61%;top:24.66%;width:1.31px;height:1.31px;opacity:0.25"></span>
      <span class="star" style="left:17.98%;top:11.06%;width:0.73px;height:0.73px;opacity:0.24"></span>
      <span class="star" style="left:76.20%;top:47.15%;width:1.59px;height:1.59px;opacity:0.32"></span>
      <span class="star" style="left:50.22%;top:28.08%;width:1.13px;height:1.13px;opacity:0.31"></span>
      <span class="star" style="left:40.44%;top:28.00%;width:1.13px;height:1.13px;opacity:0.19"></span>
      <span class="star" style="left:39.23%;top:23.60%;width:1.37px;height:1.37px;opacity:0.32"></span>
      <span class="star" style="left:45.85%;top:28.35%;width:1.00px;height:1.00px;opacity:0.12"></span>
  </div>
  <div class="masthead-dawn" aria-hidden="true"></div>
  <svg class="masthead-city" viewBox="0 0 1200 250" preserveAspectRatio="xMidYMax slice" aria-hidden="true">
      <g class="sil-g">
        <rect class="sil" x="0" y="214" width="1200" height="36" opacity="0.92"/>
        <line class="track" x1="0" y1="172" x2="1200" y2="172" stroke-width="2.2"/>
        <line class="track" x1="70" y1="172" x2="70" y2="214" stroke-width="1.4" opacity="0.8"/>
        <line class="track" x1="250" y1="172" x2="250" y2="214" stroke-width="1.4" opacity="0.8"/>
        <line class="track" x1="430" y1="172" x2="430" y2="214" stroke-width="1.4" opacity="0.8"/>
        <line class="track" x1="640" y1="172" x2="640" y2="214" stroke-width="1.4" opacity="0.8"/>
        <line class="track" x1="820" y1="172" x2="820" y2="214" stroke-width="1.4" opacity="0.8"/>
        <line class="track" x1="1000" y1="172" x2="1000" y2="214" stroke-width="1.4" opacity="0.8"/>
        <line class="track" x1="1160" y1="172" x2="1160" y2="214" stroke-width="1.4" opacity="0.8"/>
        <path class="sil" d="M 60 214 L 60 150 A 52 52 0 0 1 164 150 L 164 214 Z"/>
        <path class="sil" d="M 178 214 L 178 168 L 206 168 L 206 140 L 236 140 L 236 214 Z"/>
        <path class="sil" d="M 250 214 L 250 184 A 26 26 0 0 1 302 184 L 302 214 Z"/>
        <path class="sil" d="M 344 214 L 352 92 L 360 214 Z"/>
        <path class="sil" d="M 468 150 A 92 92 0 0 0 652 150 Z"/>
        <path class="seam" d="M468 150 L480.3 150 L514 150 L560 150 L606 150 L639.7 150 L652 150" stroke-width="0.8" opacity="0.9"/>
        <path class="seam" d="M480.3 196 L491 196 L520.2 196 L560 196 L599.8 196 L629 196 L639.7 196" stroke-width="0.8" opacity="0.9"/>
        <path class="seam" d="M514 229.7 L520.2 229.7 L537 229.7 L560 229.7 L583 229.7 L599.8 229.7 L606 229.7" stroke-width="0.8" opacity="0.9"/>
        <path class="seam" d="M468 150 L480.3 196 L514 229.7 L560 242" stroke-width="0.8" opacity="0.83"/>
        <line class="seam" x1="468" y1="150" x2="491" y2="196" stroke-width="0.64" opacity="0.63"/>
        <line class="seam" x1="480.3" y1="196" x2="520.2" y2="229.7" stroke-width="0.64" opacity="0.63"/>
        <line class="seam" x1="514" y1="229.7" x2="560" y2="242" stroke-width="0.64" opacity="0.63"/>
        <path class="seam" d="M480.3 150 L491 196 L520.2 229.7 L560 242" stroke-width="0.8" opacity="0.83"/>
        <line class="seam" x1="480.3" y1="150" x2="520.2" y2="196" stroke-width="0.64" opacity="0.63"/>
        <line class="seam" x1="491" y1="196" x2="537" y2="229.7" stroke-width="0.64" opacity="0.63"/>
        <line class="seam" x1="520.2" y1="229.7" x2="560" y2="242" stroke-width="0.64" opacity="0.63"/>
        <path class="seam" d="M514 150 L520.2 196 L537 229.7 L560 242" stroke-width="0.8" opacity="0.83"/>
        <line class="seam" x1="514" y1="150" x2="560" y2="196" stroke-width="0.64" opacity="0.63"/>
        <line class="seam" x1="520.2" y1="196" x2="560" y2="229.7" stroke-width="0.64" opacity="0.63"/>
        <line class="seam" x1="537" y1="229.7" x2="560" y2="242" stroke-width="0.64" opacity="0.63"/>
        <path class="seam" d="M560 150 L560 196 L560 229.7 L560 242" stroke-width="0.8" opacity="0.83"/>
        <line class="seam" x1="560" y1="150" x2="599.8" y2="196" stroke-width="0.64" opacity="0.63"/>
        <line class="seam" x1="560" y1="196" x2="583" y2="229.7" stroke-width="0.64" opacity="0.63"/>
        <line class="seam" x1="560" y1="229.7" x2="560" y2="242" stroke-width="0.64" opacity="0.63"/>
        <path class="seam" d="M606 150 L599.8 196 L583 229.7 L560 242" stroke-width="0.8" opacity="0.83"/>
        <line class="seam" x1="606" y1="150" x2="629" y2="196" stroke-width="0.64" opacity="0.63"/>
        <line class="seam" x1="599.8" y1="196" x2="599.8" y2="229.7" stroke-width="0.64" opacity="0.63"/>
        <line class="seam" x1="583" y1="229.7" x2="560" y2="242" stroke-width="0.64" opacity="0.63"/>
        <path class="seam" d="M639.7 150 L629 196 L599.8 229.7 L560 242" stroke-width="0.8" opacity="0.83"/>
        <line class="seam" x1="639.7" y1="150" x2="639.7" y2="196" stroke-width="0.64" opacity="0.63"/>
        <line class="seam" x1="629" y1="196" x2="606" y2="229.7" stroke-width="0.64" opacity="0.63"/>
        <line class="seam" x1="599.8" y1="229.7" x2="560" y2="242" stroke-width="0.64" opacity="0.63"/>
        <path class="seam" d="M652 150 L639.7 196 L606 229.7 L560 242" stroke-width="0.8" opacity="0.83"/>
      </g>
      <g class="dreamed">
        <path class="draft" d="M468 150 L480.3 150 L514 150 L560 150 L606 150 L639.7 150 L652 150" stroke-width="1" opacity="0.66"/>
        <path class="draft" d="M480.3 104 L491 104 L520.2 104 L560 104 L599.8 104 L629 104 L639.7 104" stroke-width="1" opacity="0.66"/>
        <path class="draft" d="M514 70.3 L520.2 70.3 L537 70.3 L560 70.3 L583 70.3 L599.8 70.3 L606 70.3" stroke-width="1" opacity="0.66"/>
        <path class="draft" d="M468 150 L480.3 104 L514 70.3 L560 58" stroke-width="1" opacity="0.61"/>
        <line class="draft" x1="468" y1="150" x2="491" y2="104" stroke-width="0.8" opacity="0.46"/>
        <line class="draft" x1="480.3" y1="104" x2="520.2" y2="70.3" stroke-width="0.8" opacity="0.46"/>
        <line class="draft" x1="514" y1="70.3" x2="560" y2="58" stroke-width="0.8" opacity="0.46"/>
        <path class="draft" d="M480.3 150 L491 104 L520.2 70.3 L560 58" stroke-width="1" opacity="0.61"/>
        <line class="draft" x1="480.3" y1="150" x2="520.2" y2="104" stroke-width="0.8" opacity="0.46"/>
        <line class="draft" x1="491" y1="104" x2="537" y2="70.3" stroke-width="0.8" opacity="0.46"/>
        <line class="draft" x1="520.2" y1="70.3" x2="560" y2="58" stroke-width="0.8" opacity="0.46"/>
        <path class="draft" d="M514 150 L520.2 104 L537 70.3 L560 58" stroke-width="1" opacity="0.61"/>
        <line class="draft" x1="514" y1="150" x2="560" y2="104" stroke-width="0.8" opacity="0.46"/>
        <line class="draft" x1="520.2" y1="104" x2="560" y2="70.3" stroke-width="0.8" opacity="0.46"/>
        <line class="draft" x1="537" y1="70.3" x2="560" y2="58" stroke-width="0.8" opacity="0.46"/>
        <path class="draft" d="M560 150 L560 104 L560 70.3 L560 58" stroke-width="1" opacity="0.61"/>
        <line class="draft" x1="560" y1="150" x2="599.8" y2="104" stroke-width="0.8" opacity="0.46"/>
        <line class="draft" x1="560" y1="104" x2="583" y2="70.3" stroke-width="0.8" opacity="0.46"/>
        <line class="draft" x1="560" y1="70.3" x2="560" y2="58" stroke-width="0.8" opacity="0.46"/>
        <path class="draft" d="M606 150 L599.8 104 L583 70.3 L560 58" stroke-width="1" opacity="0.61"/>
        <line class="draft" x1="606" y1="150" x2="629" y2="104" stroke-width="0.8" opacity="0.46"/>
        <line class="draft" x1="599.8" y1="104" x2="599.8" y2="70.3" stroke-width="0.8" opacity="0.46"/>
        <line class="draft" x1="583" y1="70.3" x2="560" y2="58" stroke-width="0.8" opacity="0.46"/>
        <path class="draft" d="M639.7 150 L629 104 L599.8 70.3 L560 58" stroke-width="1" opacity="0.61"/>
        <line class="draft" x1="639.7" y1="150" x2="639.7" y2="104" stroke-width="0.8" opacity="0.46"/>
        <line class="draft" x1="629" y1="104" x2="606" y2="70.3" stroke-width="0.8" opacity="0.46"/>
        <line class="draft" x1="599.8" y1="70.3" x2="560" y2="58" stroke-width="0.8" opacity="0.46"/>
        <path class="draft" d="M652 150 L639.7 104 L606 70.3 L560 58" stroke-width="1" opacity="0.61"/>
        <path class="draft" d="M 805 172 L 805 160 Q 805 155 810 155 L 846 155 Q 851 155 851 160 L 851 172 Z" stroke-width="1" opacity="0.64"/>
        <line class="draft" x1="815" y1="160" x2="815" y2="168" stroke-width="0.7" opacity="0.4"/>
        <line class="draft" x1="828" y1="160" x2="828" y2="168" stroke-width="0.7" opacity="0.4"/>
        <line class="draft" x1="841" y1="160" x2="841" y2="168" stroke-width="0.7" opacity="0.4"/>
        <path class="draft" d="M 869 172 L 869 160 Q 869 155 874 155 L 910 155 Q 915 155 915 160 L 915 172 Z" stroke-width="1" opacity="0.64"/>
        <line class="draft" x1="879" y1="160" x2="879" y2="168" stroke-width="0.7" opacity="0.4"/>
        <line class="draft" x1="892" y1="160" x2="892" y2="168" stroke-width="0.7" opacity="0.4"/>
        <line class="draft" x1="905" y1="160" x2="905" y2="168" stroke-width="0.7" opacity="0.4"/>
        <path class="draft" d="M 933 172 L 933 160 Q 933 155 938 155 L 974 155 Q 979 155 979 160 L 979 172 Z" stroke-width="1" opacity="0.64"/>
        <line class="draft" x1="943" y1="160" x2="943" y2="168" stroke-width="0.7" opacity="0.4"/>
        <line class="draft" x1="956" y1="160" x2="956" y2="168" stroke-width="0.7" opacity="0.4"/>
        <line class="draft" x1="969" y1="160" x2="969" y2="168" stroke-width="0.7" opacity="0.4"/>
        <path class="draft" d="M 1050 214 L 1050 190 A 26 26 0 0 1 1102 190 L 1102 214" stroke-width="0.9" opacity="0.4"/>
        <line class="draft" x1="1140" y1="214" x2="1140" y2="168" stroke-width="0.8" opacity="0.34"/>
      </g>
      <g class="spark-g">
        <path class="rim" d="M 60 150 A 52 52 0 0 1 164 150" stroke-width="1.2" opacity="0.5"/>
        <circle class="spark" cx="352" cy="88" r="2.4"/>
        <circle class="spark" cx="96" cy="182" r="1.6" opacity="0.92"/>
        <circle class="spark" cx="120" cy="196" r="1.6" opacity="0.7"/>
        <circle class="spark" cx="140" cy="184" r="1.6" opacity="0.85"/>
        <circle class="spark" cx="196" cy="154" r="1.6" opacity="0.8"/>
        <circle class="spark" cx="214" cy="184" r="1.6" opacity="0.65"/>
        <circle class="spark" cx="270" cy="200" r="1.6" opacity="0.75"/>
        <circle class="spark" cx="288" cy="192" r="1.6" opacity="0.6"/>
        <circle class="spark" cx="560" cy="58" r="2.6"/>
        <circle class="spark" cx="548" cy="196" r="1.5" opacity="0.7"/>
      </g>
  </svg>
  <div class="masthead-melt" aria-hidden="true"></div>
  <div class="masthead-title">
    <h1><a href="/">{{ .Site.Title }}</a></h1>
  </div>
</header>
