<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="twitter:card" content="summary">
  {{- with .Title -}}
  <meta name="twitter:title" content="{{ . }}">
  <meta property="og:title" content="{{ . }}">
  {{ else }}
  <meta name="twitter:title" content="{{ .Site.Title }}">
  <meta property="og:title" content="{{ .Site.Title }}">
  {{ end }}
  {{ if .IsHome }}
  <meta name="twitter:description" content="{{ .Site.Params.itunes_description | truncate 125 }}">
  <meta name="og:description" content="{{ .Site.Params.itunes_description | truncate 60 }}">
  <meta name="description" content="{{ .Site.Params.itunes_description }}">
  {{ partial "custom/socialcardimage" . }}
  {{ else }}
  <meta name="twitter:description" content="{{ .Summary | truncate 60 }}">
  <meta name="og:description" content="{{ .Summary | truncate 60 }}">
  <meta name="description" content="{{ .Summary }}">
  {{- range .Params.photos -}}
  <meta name="twitter:image" content="{{ . }}">
  <meta property="og:image" content="{{ . }}">
  {{- else -}}
  {{ partial "custom/socialcardimage" . }}
  {{- end -}}
  {{- end -}}

  <title>{{ block "title" . }}{{ if .IsHome }}{{ .Site.Title }}{{ else if .Title }}{{ .Title }} | {{ .Site.Title }}{{ else }}{{ delimit (split .Summary " " | first 5) " " }} … | {{ .Site.Title }}{{ end }}{{ end }}</title>

  <link rel="canonical" href="{{ .Permalink }}">

  <!-- Goat Counter -->
  <script data-goatcounter="https://thegamemage.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Atkinson+Hyperlegible+Next&family=Atkinson+Hyperlegible+Mono&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ "styles.css" | relURL }}?{{ .Site.Params.theme_seconds }}">

  {{ partial "microblog_head.html" . }}
</head>